body{
  background-color: rgba(225, 225, 255, 0.5);
}
h1 {
    font-family: helvetica;
    padding-left: 70px;
    padding-top: 0px;

    font-size: 75px;
    text-align: left;
    color: rgba(0,0,240,0.65);
    transition: color .2s linear;
}

h1:hover {
    color: rgba(0, 214, 46,1);
    transition: color .2s linear;
}

h2 {
    font-family: helvetica;
    padding-left: 100px;
    padding-top: 0px;

    font-size: 45px;
    text-align: left;
    color: rgba(0,0,240,0.35);
}

p{
  font-family: helvetica;
  padding-left: 100px;
  padding-right: 600px;
  text-align: left;
}

button{
  align-self: right;
  font-family: helvetica;

}
div{
  padding-right: 600px;
  text-align:right;
}
