.bicycle {
    background-color: rgb(166, 151, 248);
    height: 650px;
    width: 75%;
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; 
    overflow: hidden;
    display: flex;
}

.bicycle h2 {
    margin-top: 0px;
    font-size: 12px;
}

.bicycle p {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 12px;
}

.bicycle button {
    background-color: rgb(231, 112, 0);
    border-radius: 6px;
    border: 2px solid whitesmoke;
    padding: 20px 20px;
    margin: 15px;
    /* float: right; */
}

.bicycle button:hover {
    background-color: rgb(255, 135, 22);
}

.bicycle button:active {
    background-color: rgb(231, 112, 0);
}

.bicycle .left {
    width: 50%;
}

.bicycle .right {
    width: 50%;
}

.bicycle .leaflet-container {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}