body {
     margin: 0px;
     padding: 0px;
     overflow-y: hidden;
     background-color: green;
     font-family: Cereal, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 20px;
     width: 100%;
     height: auto;
     cursor: default;
}