html, body, #root, .app {
    background-image: url(../images/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Cereal, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}