.item-list-wrapper {
    display: flex;
}

.item-list {
    margin: 0 5px 0 25px;
    overflow-y: auto;
    width: 50%;
    height: 887px;
}

.item-list-wrapper .leaflet-container {
    height: 887px;
    width: 50%;
}