.search{
  background-color: white;
  border-radius: 5px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 500px;
}

.search .form {
  display: flex;
  flex-direction: column;
}

.search .form .box {
  margin: 10px 0 10px 0;
  font-size: 18px;
}

.DateInput.DateInput_1 {
  width: 197px;
}

#your_unique_start_date_id, #your_unique_end_date_id {
  text-align: center;
  padding: 0;
  margin: 4px 0px;
  cursor:pointer;

}

input {
  background: white;
  box-sizing: border-box;
  
}

input[type="submit"] {
  cursor:pointer;
  background: salmon;
  color: white;
  width: 100px;
  padding: 10px 0;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none
}

.type select {
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
  cursor:pointer;
  padding: 11px 20px;
  width: 100%;
}