.search {
  background-color: white;
  border-radius: 5px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 500px;
}

.search .form {
  display: flex;
  flex-direction: column;
}

.search .form .box {
  font-size: 18px;
  margin: 10px 0 10px 0;
}

.search .form .box-button {
  margin-top: 60px;
}

.search .DateInput.DateInput_1 {
  width: 197px;
}

#your_unique_start_date_id, #your_unique_end_date_id {
  cursor: pointer;
  margin: 4px 0px;
  padding: 0;
  text-align: center;
}

.search input {
  background: white;
  box-sizing: border-box;
  margin: 0;
}

.search input[type="submit"] {
  background: salmon;
  color: white;
  cursor: pointer;
  float: right;
  padding: 10px 0;
  width: 100px;
}

.search a:hover, a:visited, a:link, a:active {
  text-decoration: none
}

.search .type select {
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 11px 20px;
  width: 100%;
}