nav {
    list-style-type:none; 
    position: sticky;
    width: 100%;
    top: 0;
    overflow: hidden;
    font-size: 25px;
    height: 80px;
    z-index: 2;
  }

nav img {
  float: left;
  width: 70px;
  height: 70px;
  padding: 5px;
}

nav img:hover {
  cursor: pointer;
}

nav li {
  float: right;
  display: block;
  color: red;
  text-align: center;
  text-shadow: #000 2px -2px;
  padding: 35px 40px;
  text-decoration: none;
  height: 100%;
}

nav li:hover {
  background-color: #19f;
}
