/**
 Styling for the payment page. The stripe elements are styled according to Stripe suggestions
 */
 .StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    margin: 20px 0;
    margin-bottom: 45px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .payment{
    width: 550px;
    height: 590px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: 1px #ccc solid;
    padding: 10px;
    padding-top:0px;
  }

#AddInfo{
  font-size: 15px;
  
}
#AddInfo input{
  font-size: 15px;
  width: 240px;
}

.payment h1{
  font-size: 60px;
  text-align: center;
}

.payment h2{
    font-size: 35px;
    text-align: center;
}

.payment h3{
    font-size: 20px;
    text-align: center;
}

.checkout {
  max-width: 480px;
  margin: auto;
  padding: 30px 0;
  transition: visibility 0s, opacity 0.5s linear 0.5s;
  margin-bottom: 0;
}

.checkout form {
padding: 0%
}

.checkout table {
  margin-left: auto;
  margin-right: auto;
}

.checkout p{
  text-align: center;
  font-size: 15px;
}

button {
  display: block;
  background: #666ee8;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-style: center;
  font-size: 20px;
  width: auto;
  height: 40px;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 10px;
}

button:focus {
  background: #555abf;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

button:active {
  background: #43458b;
}

.bikeSummary{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 0%;
  border: 1px #ccc solid;
  padding: 10px;
}

.terms {
  font-size: 7.4px;
}