.item-list-map {
    height: 200px;
    width: 100%;
}

.leaflet-container {
    height: 300px;
    width: 100%;
    /* float: right; */
  }

.item-list .leaflet-container {
    height: 300px;
    width: 20%;
    float: right;
}