#navbar {
    list-style-type:none; 
    position: sticky;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #1ff;
    font-size: 25px;
  }

#navbar img {
  float: left;
  width: 55px;
  height: 55px;
}

li {
  float: right;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
}

li a:hover {
  background-color: #19f;
}